.header {
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--borderBottom);
}
.greenLine {
  height: 7px;
  background-color: var(--blue);
  width: 100%;
}
.nav {
  display: flex;
  padding: 1rem 0rem;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}
.ul {
  display: flex;
}
.ul li {
  list-style: none;
  padding: 0px 1rem;
}
.buttonIcon {
  background-color: var(--background);
  color: white;
  padding: 1rem 0.75rem;
  border: solid 1px gray;
  cursor: pointer;
  border-radius: 4px;
}
.buttonIcon:hover {
  border-color: var(--blue);
}
.a {
  color: green;
}
.a:hover {
  color: var(--blue);
}
