.header {
  position: sticky;
  top: 0;
}
.greenLine {
  height: 10px;
  background-color: green;
  width: 100%;
}
.nav {
  display: flex;
  padding: 1rem 0rem;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}
.ul {
  display: flex;
}
.ul li {
  list-style: none;
  padding: 0px 1rem;
}
